:root {
  --my-sidebar-bg: #051e34;
  --search-bar-bg: #e5e5e5;
  --content-top-bg: #1b72e8;
  --badge-blue-bg: #165bba;
  --badge-green-bg: #198754;
  --badge-red-bg: #dc3545;
  --badge-yellow-bg: #ffc107;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  overflow: hidden;
}

/*NAVBAR*/
.my-navbar {
  height: 60px;
}
.my-form-control {
  background-color: var(--search-bar-bg);
}
.mini-logo {
  width: 45px;
}

/*SIDEBAR*/
.my-sidebar, .scroll {
  height: calc(100vh - 60px);
}
.sidebar {
  width: 50px;
}
.my-sidebar-bg {
  background-color: var(--my-sidebar-bg);
  background-image: url(../img/sidebar-bg.png);
}

/*CONTENT*/
.my-container {
  margin: 0;
}
.my-row{
  background-color: var(--my-row-bg);
}
.content-top {
  background-color: var(--content-top-bg);
}
.blue-badge {
  background-color: var(--badge-blue-bg);
  font-size: 11px;
}
.table, .card {
  font-size: 13px;
}

/*HOVER*/
.my-sidebar ul li a:hover {
  background-color: rgba(255, 255, 255, .5);
}

.input-group-text{
  background-color: var(--search-bar-bg);
}

/*MEDIA QUERY*/
@media screen and (min-width: 1px) {
  .desk {
    display: none;
  }
  .tab {
    display: inline-block;
  }
  .scroll {
    width: calc(100vw - 50px);
  }
}

@media screen and (min-width: 992px) {
  .desk {
    display: inline-block;
  }
  .tab {
    display: none;
  }
  .sidebar {
    width: 120px;
  }
  .scroll {
    width: calc(100vw - 120px);
  }
}